[submodule "waiterHomeRobot"]
	path = waiterHomeRobot
	url = git@github.com:gdimitriu/waiterHomeRobot.git
[submodule "raspberryPicoDroids"]
	path = raspberryPicoDroids
	url = git@github.com:gdimitriu/raspberryPicoDroids.git
[submodule "DroidControlCenter"]
	path = DroidControlCenter
	url = git@github.com:gdimitriu/DroidControlCenter.git
[submodule "raspberrypiZeroDroid"]
	path = raspberrypiZeroDroid
	url = git@github.com:gdimitriu/raspberrypiZeroDroid.git
